/* Variables */

:root{
    --bg-color: #f0ece5;
    --main-color: #155445;
    --hl-color: #28a587;
    --main-margin: 10px;
    --main-padding: 30px;
}

/* Fuentes Locales */

@font-face {
    font-family: 'Montserratout';
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

body{
    background-color: var(--main-color);
    margin: var(--main-margin);
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}

/* Seccion Header */
header{
    background-color: var(--bg-color);
    width: 98%;
    border-radius: 10px 10px 0 0;
    /* position: fixed;
    top: 20px; */
    /* margin: var(--main-margin); */
    padding: 0 var(--main-padding);
}

header h2{
    font-family: "montserrat", sans-serif;
}

header span{
    color: var(--hl-color);
}

main{
    background-color: var(--bg-color);
    width: 98%;
    /* margin: var(--main-margin); */
    padding: var(--main-padding);
}

/* Sección Hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.hero h3{
    font-weight: 500;
    font-size: 0.9em;
}

.hero h2 span{
    color: var(--hl-color);
}

.hero h3 span{
    color: var(--hl-color);
}

.hero h2{
    margin-top: 0px;
    font-family: "montserratout", sans-serif;
    -webkit-text-stroke: 2px #000;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 1px #b1b1b1, 0 0 0px black, 0 0 0px black ;
}

.hero h1 {
    margin-top: -25px;
    font-family: "caveat";
}

.hero p {
    font-size: 0.8em;
}

.hero i{
    font-size: 2.2em;
    letter-spacing: 0.5em;
    color: #000;
}

.hero-1{
    width: 50%;
    /* background-color: #f5eeee; */
}

@keyframes slideUp {
   from {
     transform: translateY(8%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
}
  
.bg{
    /* animation: slideUp 1s ease forwards; */
    background-image: linear-gradient(150deg, var(--main-color), var(--hl-color));
    width: 395px;
    height: 400px;
    border-radius: 50%;
}

.ph{
    animation: slideUp 0.8s ease forwards;
    background-image: url(../img/yo.png);
    background-position: center;
    width: 100%;
    height: 100%;
    /* width: 395px;
    height: 400px; */
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-2 {
    /* background-color: #fff; */
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(150deg, var(--main-color), var(--hl-color));
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0 1px white, 0 0 0 3px black, 5px 5px 2px #b1b1b1;
    cursor: pointer;
    outline: none;
    position: relative;
}

.gradient-button:hover {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    scale: 1.01;
    background-image: linear-gradient(150deg, var(--main-color), var(--hl-color));
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0 1px white, 0 0 0 3px black, 8px 8px 4px #b1b1b1b5;
    cursor: pointer;
    outline: none;
    position: relative;
}

.skil{
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: -0.1em;
}

.pop{
    margin-top: 20px;
    padding: 0px 10px 0;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0 3px black, 6px 6px 0px #b1b1b1a1;
    outline: none;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop span{
    margin-left: 5px;
    padding: 0;
    color: var(--hl-color);
}

.pop-cont-num{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #28a5; */
    flex-wrap: 0;
    font-size: 2em;
}

.pop-cont-text span{
    margin-left: 0;
}

.pop-cont-text{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: 1;
    justify-content: space-between;
    /* background-color: rgba(77, 126, 143, 0.333); */
}

.pop-cont-num h4{
    margin: 0;
    padding: 0;
    /* font-size: 0.6em;
    font-weight: 500;
    flex-wrap: 1; */
}

.pop-cont-text h5{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 0.6em;
    font-weight: 500;
    flex-wrap: 1;
}

.pop1{
    position: relative;
    top: -35%;
    right: 0%;
}

.pop2{
    position: relative;
    top: -40%;
    right: -65%;
}

/* Sección Servicios */

.services{
    text-align: center;
}

.services h3, .skills h3, .portfolio h3, .testimonials h3, .pricing h3, .contact-me h3{
    margin-top: 100px;
    font-size: 1.5em;
}

.services span, .skills span, .portfolio span, .testimonials span, .pricing span, .contact-me span{
    margin-left: 5px;
    padding: 0;
    font-size: 0.7em;
    color: var(--hl-color);
    font-family: "montserrat";
    font-weight: 600;
}

.services h2, .skills h4, .portfolio h4, .testimonials h4, .pricing h4, .contact-me h4{
    margin: -15px 0 35px 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: 900;
    font-family: "caveat";
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cards h4{
    font-size: 0.8em;
}

.cards h6{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards h5{
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 600;
}

.card1, .card2, .card3{
    padding: 0 20px;
    text-align: left;
    background-color: #f8f5f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
    
}

.card1:hover, .card2:hover, .card3:hover{
    padding: 0 20px;
    scale: 1.03;
    text-align: left;
    border-radius: 10px;
    background-image: linear-gradient(150deg, var(--main-color), var(--hl-color));
    color: #fff;
    border: 1px solid black;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2)
}

.cards i{
    color: var(--hl-color);
    padding-left: 20px;
}

.card1:hover i, .card2:hover i, .card3:hover i{
    color: var(--bg-color);
}

/* Seccion Skills */

.skills{
    text-align: center;
}

.skill-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skill-card1, .skill-card2, .skill-card3, .skill-card4, .skill-card5, .skill-card6{
    padding: 5px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
}

/* Sección Portfolio */

.portfolio{
    text-align: center;
}

/* Sección Testimonials */

.testimonials{
    text-align: center;
}

/* Sección Pricing */

.pricing{
    text-align: center;
}

/* Sección Contact Me - Inicio de Footer */

.contact-me{
    text-align: center;
}

/* Sección Footer */

footer{
    background-color: var(--bg-color);
    width: 98%;
    border-radius: 0 0 10px 10px;
    /* margin: var(--main-margin); */
    padding: var(--main-padding);
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -25px;
}

.foot i{
    font-size: 1.5em;
    letter-spacing: 1em;
    color: #000;
}

.foot h4{
    padding: 0;
    font-size: 0.9em;
    color: #000;
    font-family: "montserrat";
    font-weight: 500;
}

.foot span{
    font-size: 1em;
    color: var(--hl-color);
    font-family: "montserrat";
    font-weight: 700;
}

.foot1, .foot2, .foot3{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: 1;
    text-align: center;
}

/* Fin de Footer */